# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Validate against IJ versions

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  validate:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        IJ: [IC-2022.3]

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: 17
        distribution: 'temurin'
        cache: 'gradle'
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: >
        ./gradlew buildPlugin
        -PideaVersion=${{ matrix.IJ }}
        -Pgpr.username=${{ github.actor }}
        -Pgpr.token=${{ secrets.GITHUB_TOKEN }}

  verify:
    if: false
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'temurin'
          cache: 'gradle'
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: >
          ./gradlew runPluginVerifier
          -PideaVersion=IC-2022.3
          -Pgpr.username=${{ github.actor }}
          -Pgpr.token=${{ secrets.GITHUB_TOKEN }}
      - name: Upload report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: verifier-report
          path: build/reports/pluginVerifier
